[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/trevor/Desktop/Chat log 001.txt]
row=1
col=0

[/home/trevor/Desktop/Password1.pdf]
row=3
col=0

[/home/trevor/Desktop/Hacktool Manual.pdf]
row=4
col=0

[/home/trevor/Desktop/Number Mangler]
row=0
col=0

[/home/trevor/Desktop/QR code scanner.desktop]
row=5
col=0

[/home/trevor/Desktop/Note pad.desktop]
row=7
col=0

[/home/trevor/Desktop/Chat log 002.txt]
row=2
col=0

[/home/trevor/Desktop/QR code scanner instructions.txt]
row=6
col=0

