[Desktop Entry]
Version=1.0
Type=Application
Name=Note pad
Comment=Take text notes
Exec=leafpad %f
Icon=leafpad
Path=
Terminal=false
StartupNotify=true
