[Desktop Entry]
Version=1.0
Type=Application
Name=QtQR
Comment=Scan QR codes
Exec=python3 /home/trevor/qr/qrreader.py
Icon=qtqr
Path=
Terminal=false
StartupNotify=false
