[Desktop Entry]
Version=1.0
Type=Application
Name=QR Scanner
Comment=Scan QR codes
Exec=python3 /home/trevor/qr/qrreader.py
Icon=scanner
Path=
Terminal=false
StartupNotify=false
