[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yichin/Desktop/Maze]
row=2
col=0

[/home/yichin/Desktop/Hacktool.desktop]
row=0
col=0

[/home/yichin/Desktop/Chat log 004.txt]
row=3
col=0

[/home/yichin/Desktop/Hacktool Manual.pdf]
row=1
col=0

[/home/yichin/Desktop/Note pad.desktop]
row=4
col=0

