[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/carol/Desktop/Chat log 003.txt]
row=4
col=0

[/home/carol/Desktop/Hacktool Manual.pdf]
row=3
col=0

[/home/carol/Desktop/Desktop Background.desktop]
row=0
col=0

[/home/carol/Desktop/Note pad.desktop]
row=5
col=0

[/home/carol/Desktop/Photo quiz.desktop]
row=2
col=0

[/home/carol/Desktop/Aerial photo.jpg]
row=1
col=0

